.main-footer {
    background-color: #fff;
    color: #333;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 .125rem .375rem 0 rgba(18, 18, 18, 0.13);
}

.icon-nav {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}
.icon-nav .icon {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
   
}

.icon-nav .icon:hover {
    color: #00BFFF; 
}

.copyright {
	display: block;
    text-align:left;
}
