@charset "ISO-8859-1";

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-header {
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 .125rem .375rem 0 rgba(18, 18, 18, 0.13);
    margin-bottom: 10px;
    justify-content: space-between;
}

.icon-nav {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}
.icon-nav .icon {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.3s;
   
}

.icon-nav .icon:hover {
    color: #00BFFF; 
}

.search-input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin: 0 10px;
}

.search-input::placeholder {
    color: #999;
}

.logo{
	width: 80px;
    height: auto; 
    display: block;
    text-align:left;
}
