<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ProjetDai</display-name>
  <servlet>
    <description></description>
    <display-name>preparationcommandes</display-name>
    <servlet-name>preparationcommandes</servlet-name>
    <jsp-file>/WEB-INF/content/preparationcommandes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>preparationcommandes</servlet-name>
    <url-pattern>/preparationcommandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connexion</display-name>
    <servlet-name>connexion</servlet-name>
    <jsp-file>/WEB-INF/content/connexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inscription</display-name>
    <servlet-name>inscription</servlet-name>
    <jsp-file>/WEB-INF/content/inscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <jsp-file>/WEB-INF/content/home.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>inscriptionReussie</display-name>
    <servlet-name>inscriptionReussie</servlet-name>
    <jsp-file>/WEB-INF/content/inscriptionReussie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscriptionReussie</servlet-name>
    <url-pattern>/inscriptionReussie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>choixMagasin</display-name>
    <servlet-name>choixMagasin</servlet-name>
    <jsp-file>/WEB-INF/content/choixMagasin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>choixMagasin</servlet-name>
    <url-pattern>/choixMagasin</url-pattern>
   </servlet-mapping>
    <servlet>
    <display-name>panier</display-name>
    <servlet-name>panier</servlet-name>
    <jsp-file>/WEB-INF/content/panier.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>panier</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validerPanier</display-name>
    <servlet-name>validerPanier</servlet-name>
    <jsp-file>/WEB-INF/content/validerPanier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>validerPanier</servlet-name>
    <url-pattern>/validerPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>choixCreneau</display-name>
    <servlet-name>choixCreneau</servlet-name>
    <jsp-file>/WEB-INF/content/choixCreneau.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>choixCreneau</servlet-name>
    <url-pattern>/choixCreneau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>panierEnregistrer</display-name>
    <servlet-name>panierEnregistrer</servlet-name>
    <jsp-file>/WEB-INF/content/panierEnregistrer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>panierEnregistrer</servlet-name>
    <url-pattern>/panierEnregistrer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>preparationdetail</display-name>
    <servlet-name>preparationdetail</servlet-name>
    <jsp-file>/WEB-INF/content/preparationdetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>preparationdetail</servlet-name>
    <url-pattern>/preparationdetail</url-pattern>
  </servlet-mapping>
</web-app>