<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ProjetDai</display-name>
  <servlet>
    <description></description>
    <display-name>preparationcommandes</display-name>
    <servlet-name>preparationcommandes</servlet-name>
    <jsp-file>/WEB-INF/content/preparationcommandes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>preparationcommandes</servlet-name>
    <url-pattern>/preparationcommandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connexion</display-name>
    <servlet-name>connexion</servlet-name>
    <jsp-file>/WEB-INF/content/connexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inscription</display-name>
    <servlet-name>inscription</servlet-name>
    <jsp-file>/WEB-INF/content/inscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <jsp-file>/WEB-INF/content/home.jsp</jsp-file>
  </servlet>
  <servlet>
    <description></description>
    <display-name>inscriptionReussie</display-name>
    <servlet-name>inscriptionReussie</servlet-name>
    <jsp-file>/WEB-INF/content/inscriptionReussie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscriptionReussie</servlet-name>
    <url-pattern>/inscriptionReussie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>choixMagasin</display-name>
    <servlet-name>choixMagasin</servlet-name>
    <jsp-file>/WEB-INF/content/choixMagasin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>choixMagasin</servlet-name>
    <url-pattern>/choixMagasin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commandesClient</display-name>
    <servlet-name>commandesClient</servlet-name>
    <jsp-file>/WEB-INF/content/commandesClient.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>commandesClient</servlet-name>
    <url-pattern>/commandesClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailsCommandeClient</display-name>
    <servlet-name>detailsCommandeClient</servlet-name>
    <jsp-file>/WEB-INF/content/detailsCommandeClient.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailsCommandeClient</servlet-name>
    <url-pattern>/detailsCommandeClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>panier</display-name>
    <servlet-name>panier</servlet-name>
    <jsp-file>/WEB-INF/content/panier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>panier</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validerPanier</display-name>
    <servlet-name>validerPanier</servlet-name>
    <jsp-file>/WEB-INF/content/validerPanier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>validerPanier</servlet-name>
    <url-pattern>/validerPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>choixCreneau</display-name>
    <servlet-name>choixCreneau</servlet-name>
    <jsp-file>/WEB-INF/content/choixCreneau.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>choixCreneau</servlet-name>
    <url-pattern>/choixCreneau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modificationCreneau</display-name>
    <servlet-name>modificationCreneau</servlet-name>
    <jsp-file>/WEB-INF/content/modificationCreneau.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificationCreneau</servlet-name>
    <url-pattern>/modificationCreneau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmationCreneau</display-name>
    <servlet-name>confirmationCreneau</servlet-name>
    <jsp-file>/WEB-INF/content/confirmationCreneau.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmationCreneau</servlet-name>
    <url-pattern>/confirmationCreneau</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>panierEnregistrer</display-name>
    <servlet-name>panierEnregistrer</servlet-name>
    <jsp-file>/WEB-INF/content/panierEnregistrer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>panierEnregistrer</servlet-name>
    <url-pattern>/panierEnregistrer</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>confirmationEnregistrerPanier</display-name>
    <servlet-name>confirmationEnregistrerPanier</servlet-name>
    <jsp-file>/WEB-INF/content/confirmationEnregistrerPanier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmationEnregistrerPanier</servlet-name>
    <url-pattern>/confirmationEnregistrerPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>preparationdetail</display-name>
    <servlet-name>preparationdetail</servlet-name>
    <jsp-file>/WEB-INF/content/preparationdetail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>preparationdetail</servlet-name>
    <url-pattern>/preparationdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <jsp-file>/WEB-INF/content/article.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>preparationhistorique</display-name>
    <servlet-name>preparationhistorique</servlet-name>
    <jsp-file>/WEB-INF/content/preparationhistorique.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>preparationhistorique</servlet-name>
    <url-pattern>/preparationhistorique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commandePourMagasin</display-name>
    <servlet-name>commandePourMagasin</servlet-name>
    <jsp-file>/WEB-INF/content/commandePourMagasin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>commandePourMagasin</servlet-name>
    <url-pattern>/commandePourMagasin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>commandeFournisseurEnvoyee</display-name>
    <servlet-name>commandeFournisseurEnvoyee</servlet-name>
    <jsp-file>/WEB-INF/content/commandeFournisseurEnvoyee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>commandeFournisseurEnvoyee</servlet-name>
    <url-pattern>/commandeFournisseurEnvoyee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>voirCommande</display-name>
    <servlet-name>voirCommande</servlet-name>
    <jsp-file>/WEB-INF/content/voirCommande.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>voirCommande</servlet-name>
    <url-pattern>/voirCommande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailsCommandeFournisseur</display-name>
    <servlet-name>detailsCommandeFournisseur</servlet-name>
    <jsp-file>/WEB-INF/content/detailsCommandeFournisseur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailsCommandeFournisseur</servlet-name>
    <url-pattern>/detailsCommandeFournisseur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>etapeFinale</display-name>
    <servlet-name>etapeFinale</servlet-name>
    <jsp-file>/WEB-INF/content/etapeFinale.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>etapeFinale</servlet-name>
    <url-pattern>/etapeFinale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>articlesCroissants</display-name>
    <servlet-name>articlesCroissants</servlet-name>
    <jsp-file>/WEB-INF/content/articlesCroissants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>articlesCroissants</servlet-name>
    <url-pattern>/articlesCroissants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>articlesDecroissants</display-name>
    <servlet-name>articlesDecroissants</servlet-name>
    <jsp-file>/WEB-INF/content/articlesDecroissants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>articlesDecroissants</servlet-name>
    <url-pattern>/articlesDecroissants</url-pattern>
  </servlet-mapping>
</web-app>